<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86983543981-mbea162f29o3t6cbg72sp108q3dhijo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86983543981-mbea162f29o3t6cbg72sp108q3dhijo2</string>
	<key>API_KEY</key>
	<string>AIzaSyANBU6LL0W16bbg7glnJVPD0VDJig_XwvE</string>
	<key>GCM_SENDER_ID</key>
	<string>86983543981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soilTest</string>
	<key>PROJECT_ID</key>
	<string>my-soil-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-soil-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86983543981:ios:f432133ea129a021e80a24</string>
	<key>DATABASE_URL</key>
	<string>https://my-soil-test-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>